body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#outlined-basic:selected{background-color: #5a6268 !important;}
.user{display: flex;
  justify-content: flex-end;
  width: 90%;
}

#nav{background-color:#5a6268; z-index: 4;position:fixed;width: 100%}
